.blog_btn-button {
    color: #f6f6f6;
    border-radius: 2px;
    line-height: 32px;
    background-color: #1c1e26;
    letter-spacing: 2px;
    padding: 0 14px 0 16px;
    transition: color 0.3s;
}

.blog_btn-button:hover,
.blog_btn-button:focus {
    color: #ffcc00;
}