.swiper-container {
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 750px;
  width: 750px;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper-pagination {
  width: 86px;
  height: 46px;
  background: rgba(83, 83, 83, 0.4);
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 78px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  right: 18px;
  left: inherit;
}
.swiper-pagination.video.hidden {
  display: none;
}
.swiper-pagination-current {
  font-family: PingFangSC-Regular;
  font-size: 30px;
}
.swiper-pagination-total {
  font-size: 24px;
}

.swiper .swiper-pagination-fraction {
  left: 95%;
  width: 35px;
  transform: translateX(-100%);
  font-size: 14px;
  height: 20px;
  padding: 5px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper .swiper-pagination-fraction .swiper-pagination-current{
  font-size: 14px;
}
.swiper .swiper-pagination-fraction .swiper-pagination-total{
  font-size: 14px;
}