h1 {
    color: #1c1e26;
    line-height: 2em;
    position: relative;
    font-size: 32px;
}

h2,
h3,
h4,
h5 {
    color: #1c1e26;
    line-height: 2em;
    margin: 20px 0;
    position: relative;
}

h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before {
    position: absolute;
    left: 0;
    transform: translateX(-110%);
    color: #ffcc00;
    opacity: 0.85;
}

h2 {
    font-size: 24px;
}

h2:hover::before {
    content: "H2:";
}

h3 {
    font-size: 22px;
}

h3:hover::before {
    content: "H3:";
}

h4 {
    font-size: 20px;
}

h4:hover::before {
    content: "H4:";
}

h5 {
    font-size: 18px;
}

h5:hover::before {
    content: "H5:";
}

ul,
ol {
    margin: 10px 0;
    padding: 0 20px;
}

ol ol,
ol ul,
ul ul,
ul ol {
    margin-bottom: 0;
    margin-top: 5px;
}

li {
    font-size: 18px;
    list-style: disc;
    margin: 0.5em 0;
}

li li {
    list-style: circle;
}

blockquote {
    border-left: 5px solid #ffcc00;
    border-radius: 2px;
    padding: 5px 20px;
    background-color: #faebd8;
    margin-left: 0px;
    margin-right: 0;
}

blockquote p {
    margin: 0;
}

strong code {
    background-color: #faebd8;
    padding: 0 5px;
    line-height: 18px;
}

p {
    font-size: 18px;
    line-height: 2em;
    text-align: justify;
    margin: 20px 0;
    color: #262626;
}

li p {
    margin: 0;
}

li code,
p code {
    background-color: #faebd8;
    padding: 0 2px;
}

pre {
    border-radius: 2px;
}

pre code {
    font-size: 18px;
    white-space: pre;
    -webkit-column-break-inside: avoid-column;
    border-left: 5px solid #ffcc00;
}

blockquote p,
code {
    font-family: mononoki;
}

code span {
    line-height: 24px;
}

hr {
    border: #ffcc00 1.5px solid;
    border-radius: 100px;
    margin: 25px 0 25px;
}